<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.demo.mapper.TimeoutRecordMapper">
    <insert id="insertTimeoutRecord">
        INSERT INTO t_timeout_record (group_id, device_id, message_id, expire_time, cleanup_time)
        VALUES (#{groupId}, #{deviceId}, #{messageId}, #{expireTime}, #{cleanupTime})
    </insert>
</mapper>
